#generate-outfit{
  display: flex;
}

#filters-container{
  background-color: rgba(0,0, 0, .5);
  width: 40%;
  margin-left: 2%;
  padding-top: 1%;
  padding-left: 1%;
  border-radius: 25px;
  color: white;
  height: 30vh;
}

#filters-container h1{
  font-size: 120%;
}

#filters-container input{
  margin-left: 3%;
}

#filters-container select{
  margin-left: 3%;
}

#filters-container Button{
  position: static;
  margin-top: 12%;
  margin-left: 30%;
}

/* #drip-button{
  padding-top: 10%;
  padding-left
} */

#outfit-display{
  padding: 20px 25px 20px;
  background-color: rgba(0,0, 0, .5);
  border-radius: 25px;
  margin-left: 5%;
  margin-right: 2%;
  color: white;
  overflow: scroll;
  width: 60%;
  height: 85vh;
  margin-bottom: 2%;
}

/* #outfit-display img{
  height: 30vh;
  width: 30vh;
} */
