#navbar {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
  padding: 16px;
}

#navbar2 {
  position: relative;
  bottom: 25px;
}

a {
  color: white;
  text-decoration: none;
  padding: 20px;
  font-weight: lighter;
  position: relative;
}

a:hover {
  bottom: 1px;
  cursor: pointer;
}

#user-icon {
  width: 30px;
  height: 30px;
}
